{{- $context := merge (dict "app" $.Values.statusServer) . -}}
{{- $mailApp :=  merge (dict "app" $.Values.mailServer) . -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "neves.name.configmap" $context }}
  namespace: {{ $.Values.teamName }}
  labels:
    {{- include "neves.commonLabels" $context | nindent 4 }}
{{ with .Values.statusServer.config -}}
data:
  RDB_URL: {{ printf "jdbc:%s/%s" .db.url .db.name | quote }}
  RDB_DRIVER_CLASS: {{ .db.driver | quote }}
  RDB_DDL: {{ .db.ddl | quote }}
  DISCONNECTED_CRON: {{ .disconnectedCron | quote }}
  MAIL_SERVICE_URL: {{ include "neves.url.svc" $mailApp | quote  }}
{{ end -}}