{{- $context := merge (dict "app" $.Values.dbUploadServer) . -}}
{{- $statusApp := merge (dict "app" $.Values.statusServer) . -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "neves.name.configmap" $context }}
  namespace: {{ $.Values.teamName }}
  labels:
    {{- include "neves.commonLabels" $context | nindent 4 }}
data:
  {{- with $.Values.dbUploadServer.config }}
  AWS_DEFAULT_REGION: {{ .aws.region | quote }}
  S3_BUCKET_NAME: {{ .aws.s3.bucket | quote  }}
  STATUS_SERVER_URL: {{ printf "http://%s/metadata" (include "neves.url.svc" $statusApp) | quote }}
  NUM_WORKERS: {{ .workers.normal | quote}}
  NUM_RETRY_WORKERS: {{ .workers.retry | quote }}
  MAX_RETRIES: {{ .failure.threshold | quote }}
  RETRY_DELAY_MINUTES: {{ .failure.retryMinutes | quote }}
  SCHEDULER_INTERVAL_SECONDS: {{ .failure.rescheduleSeconds | quote }}
  {{ end -}}
