teamName: neves
gateway:
  name: neves
  sshArn: "arn:aws:acm:ap-northeast-2:622703417916:certificate/d14d598b-3399-4180-9c8e-f9fb009f3075"
  rootDomain: neves-box.com
monitoring:
  namespace: monitoring
  prometheus:
    name: prometheus-kube-prometheus-prometheus
    port: 9090
  kiali:
    name: kiali
    path: "/kiali"
    port: 20001
  grafana:
    name: grafana
    path: "/grafana"
    port: 3000
  jaeger:
    name: jaeger
    path: "/jaeger"
    port: 80
efs:
  name: efs
  storage: 20Gi
  mountPath: /recordings
  storageClassName: efs-sc
mediamtxServer:
  name: "mediamtx"
  replicas: "1"
  image:
    repo: "bluenviron/mediamtx"
    tag: "latest-ffmpeg"
  port:
    srt:
      container: 8890
      service: 8890
      protocol: UDP
    api:
      container: 9997
      service: 9997
      protocol: TCP
    metrics:
      container: 9998
      service: 9998
      protocol: TCP
  config:
    mediamtxYaml: |
      srt: yes
      srtAddress: :8890
      api: yes
      apiAddress: :9997
      metrics: yes
      metricsAddress: :9998
      pathDefaults:
      paths:
        '~^.*$':
          source: publisher
          record: yes
          recordPath: ./recordings/%path/%Y%m%d-%H%M%S
          recordFormat: fmp4
          recordPartDuration: 30s
          recordSegmentDuration: 30s
          recordDeleteAfter: 24h
          runOnRecordSegmentComplete: |
            echo "MTX_PATH: ${MTX_PATH}, MTX_SEGMENT_PATH: ${MTX_SEGMENT_PATH}, MTX_SEGMENT_DURATION: ${MTX_SEGMENT_DURATION}"
      authInternalUsers:
      - user: any
        pass:
        ips: []
        permissions:
        - action: metrics
          path:
        - action: publish
          path:
        - action: api
          path:
offlineServer:
  name: "offline"
  replicas: "1"
  port:
    service: 8001
    container: 8000
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/offline-upload-server
    tag: "dev"
dbUploadServer:
  name: "db-upload"
  replicas: "1"
  service:
    port: 8000
    portName: http-metrics
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
    tag: dev
  config:
    aws:
      region: "ap-northeast-2"
      s3:
        bucket: "neves-video-bucket"
statusServer:
  name: status
  replicas: "1"
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/status-service
    tag: 4abe68becdeb989068a5e0c40a009793330d2a0a
  port:
    container: 8080
  config:
    db:
      driver: "org.postgresql.Driver"
      ddl: "update"
      url: "postgresql://neves-db.cz6wi8gag9zx.ap-northeast-2.rds.amazonaws.com"
      name: nevesdb
    disconnectedCron: "0 0 * * * *"
userServer:
  name: "user"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/user_server"
    tag: "4e05b1cdb37a4d3a9b13c9a0506df596164dde57"
  port:
    container: 8000
  config:
    db:
      host: "neves-db.cz6wi8gag9zx.ap-northeast-2.rds.amazonaws.com"
      name: "nevesdb"
      port: "5432"
    corsAllowedOrigins: "https://neves-box.com,http://127.0.0.1:3000,http://localhost:3000"
mailServer:
  name: "mail"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/mail_server"
    tag: "9cbca01ff14bfae25722021bd45bcd140451a614"
  port:
    container: 8000
playServer:
  name: "play"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/play_server"
    tag: "cc0b5c722e0431ddb907049a23d0c83205076394"
  port:
    container: 8000
  config:
    cloudFront:
      domain: "https://d1mm9z6q5gm2lk.cloudfront.net"
      expireTime: "1"
    corsAllowedOrigins: '["https://neves-box.com","http://127.0.0.1:3000","http://localhost:3000"]'
