teamName: neves
gateway:
  name: neves
  sshArn: "arn:aws:acm:ap-northeast-2:438465134317:certificate/a55051a4-5e74-452f-b006-620d1dfd1936"
  rootDomain: neves-box.com
monitoring:
  namespace: monitoring
  prometheus:
    name: prometheus-kube-prometheus-prometheus
    port: 9090
  kiali:
    name: kiali
    path: "/kiali"
    port: 20001
  grafana:
    name: grafana
    path: "/grafana"
    port: 3000
  jaeger:
    name: jaeger
    path: "/jaeger"
    port: 80
efs:
  name: efs
  storage: 20Gi
  mountPath: /recordings
  storageClassName: efs-sc
mediamtxServer:
  name: "mediamtx"
  replicas: "1"
  image:
    repo: "bluenviron/mediamtx"
    tag: "latest-ffmpeg"
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "1.5Gi"
      cpu: "1500m"
  port:
    srt:
      container: 8890
      service: 8890
      protocol: UDP
    api:
      container: 9997
      service: 9997
      protocol: TCP
    metrics:
      container: 9998
      service: 9998
      protocol: TCP
  config:
    mediamtxYaml: |
      srt: yes
      srtAddress: :8890
      api: yes
      apiAddress: :9997
      metrics: yes
      metricsAddress: :9998
      pathDefaults:
      paths:
        '~^.*$':
          source: publisher
          record: yes
          recordPath: ./recordings/writing/%path/%Y%m%d-%H%M%S
          recordFormat: fmp4
          recordPartDuration: 30s
          recordSegmentDuration: 30s
          recordDeleteAfter: 24h
          runOnRecordSegmentComplete: |
            /bin/sh -c "
              mkdir -p \"$(dirname \"$(printf %s \"${MTX_SEGMENT_PATH}\" | sed 's#/writing/#/ready/#')\")\" \
              && mv \"${MTX_SEGMENT_PATH}\" \"$(printf %s \"${MTX_SEGMENT_PATH}\" | sed 's#/writing/#/ready/#')\"
            "
      authInternalUsers:
      - user: any
        pass:
        ips: []
        permissions:
        - action: metrics
          path:
        - action: publish
          path:
        - action: api
          path:
dbUploadServer:
  name: "db-upload"
  replicas: "1"
  service:
    port: 8000
    portName: http-metrics
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
    tag: cba3a19d35556568d91490fa43c1c35f86ed6640
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "300m"
  config:
    aws:
      region: "ap-northeast-2"
      s3:
        bucket: "neves-video-bucket"
    scanIntervalSeconds: 1
    workers:
      normal: 3
      retry: 1
    failure:
      threshold: 3
      retryMinutes: 10
      rescheduleSeconds: 60
statusServer:
  name: status
  replicas: "1"
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/status-service
    tag: 9fd2421d29c525381e10817a356616f4e3a9a7f7
  port:
    container: 8080
  config:
    db:
      driver: "org.postgresql.Driver"
      ddl: "update"
      url: "postgresql://neves-db.cdawmk664vxo.ap-northeast-2.rds.amazonaws.com"
      name: nevesdb
    disconnectedCron: "0 0 * * * *"
  destinationRule:
    enabled: true
    outlierDetection:
      consecutive5xxErrors: 3
      interval: "10s"
      baseEjectionTime: "40s"
      maxEjectionPercent: 100
userServer:
  name: "user"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/user_server"
    tag: "971b45759155f01f4ff09ad4a50b1ec8b9576d1a"
  port:
    container: 8000
  config:
    db:
      host: "neves-db.cz6wi8gag9zx.ap-northeast-2.rds.amazonaws.com"
      name: "nevesdb"
      port: "5432"
    corsAllowedOrigins: "https://neves-box.com,http://127.0.0.1:3000,http://localhost:3000"
mailServer:
  name: "mail"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/mail_server"
    tag: "971b45759155f01f4ff09ad4a50b1ec8b9576d1a"
  port:
    container: 8000
playServer:
  name: "play"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/play_server"
    tag: "923bed41ac543e7dc611ba784b3b029da775af34"
  port:
    container: 8000
  config:
    cloudFront:
      domain: "https://d1mm9z6q5gm2lk.cloudfront.net"
      expireTime: "1"
    corsAllowedOrigins: '["https://neves-box.com","http://127.0.0.1:3000","http://localhost:3000"]'
combinedVideoProcessor:
  name: "combined-streaming"
  replicas: 1
  port:
    srt-udp:
      protocol: UDP
      service: 8890
      container: 8890
    api-tcp:
      protocol: TCP
      service: 9997
      container: 9997
    http-metrics:
      protocol: TCP
      service: 8000
      container: 8000
  mediamtxContainer:
    name: "mediamtx"
    image:
      repo: "bluenviron/mediamtx"
      tag: "latest-ffmpeg"
    storageMountPath: /recordings
    configMountPath: /mediamtx.yml
    configSubPath: mediamtx.yml
    containerPorts:
    - name: srt-udp
      containerPort: 8890
      protocol: UDP
    - name: api-tcp
      containerPort: 9997
      protocol: TCP
    resources:
      requests:
        memory: "1024Mi"
        cpu: "500m"
      limits:
        memory: "1024Mi"
        cpu: "500m"
  dbUploadContainer:
    name: "db-upload"
    image:
      repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
      tag: cba3a19d35556568d91490fa43c1c35f86ed6640
    storageMountPath: /recordings
    resources:
      requests:
        memory: "1024Mi"
        cpu: "500m"
      limits:
        memory: "1024Mi"
        cpu: "500m"
  volumeClaimTemplate:
    name: "storage"
    accessModes: ["ReadWriteOnce"]
    storage: "50Gi"
  ports:
  - name: http-metrics
    containerPort: 8000
    protocol: TCP
  metrics:
    portName: "http-metrics"
    path: "/metrics"
    interval: "10s"
    scrapeTimeout: "10s"
  image:
    tag: bb288b84873c91ec35887556c5f246e3869f5983
    repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
ebsStorageClass:
  name: "ebs-sc"
  provisioner: "ebs.csi.aws.com"
  volumeBindingMode: "WaitForFirstConsumer"
  parameters:
    type: "gp3"
  allowVolumeExpansion: true
  reclaimPolicy: "Retain"
metrics:
  buckets:
    latency: "0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9, 9.0, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9, 10.0"
    scan: "0.01, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.85, 0.9, 0.95, 1, 3, 5"
