teamName: neves
gateway:
  name: neves
  sshArn: "arn:aws:acm:ap-northeast-2:622703417916:certificate/d14d598b-3399-4180-9c8e-f9fb009f3075"
  rootDomain: neves-box.com
monitoring:
  namespace: monitoring
  prometheus:
    name: prometheus-kube-prometheus-prometheus
    port: 9090
  kiali:
    name: kiali
    path: "/kiali"
    port: 20001
  grafana:
    name: grafana
    path: "/grafana"
    port: 3000
  jaeger:
    name: jaeger
    path: "/jaeger"
    port: 80
efs:
  name: efs
  storage: 20Gi
  mountPath: /recordings
  storageClassName: efs-sc
mediamtxServer:
  name: "mediamtx"
  replicas: "1"
  image:
    repo: "bluenviron/mediamtx"
    tag: "latest-ffmpeg"
  port:
    srt:
      container: 8890
      service: 8890
      protocol: UDP
    api:
      container: 9997
      service: 9997
      protocol: TCP
    metrics:
      container: 9998
      service: 9998
      protocol: TCP
  config:
    mediamtxYaml: |
      srt: yes
      srtAddress: :8890
      api: yes
      apiAddress: :9997
      metrics: yes
      metricsAddress: :9998
      pathDefaults:
      paths:
        '~^.*$':
          source: publisher
          record: yes
          recordPath: ./recordings/%path/%Y%m%d-%H%M%S
          recordFormat: fmp4
          recordPartDuration: 30s
          recordSegmentDuration: 30s
          recordDeleteAfter: 24h
          runOnRecordSegmentComplete: |
            echo "MTX_PATH: ${MTX_PATH}, MTX_SEGMENT_PATH: ${MTX_SEGMENT_PATH}, MTX_SEGMENT_DURATION: ${MTX_SEGMENT_DURATION}"
      authInternalUsers:
      - user: any
        pass:
        ips: []
        permissions:
        - action: metrics
          path:
        - action: publish
          path:
        - action: api
          path:
offlineServer:
  name: "offline"
  replicas: "1"
  port:
    service: 8001
    container: 8000
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/offline-upload-server
    tag: "dev"
dbUploadServer:
  name: "db-upload"
  replicas: "1"
  service:
    port: 8000
    portName: http-metrics
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
    tag: 917c7e6e10a9825eb3792b91395b398cc80e87d9
  config:
    aws:
      region: "ap-northeast-2"
      s3:
        bucket: "neves-video-bucket"
statusServer:
  name: status
  replicas: "1"
  image:
    repo: public.ecr.aws/k8s0f8l3/neves/status-service
    tag: 9fd2421d29c525381e10817a356616f4e3a9a7f7
  port:
    container: 8080
  config:
    db:
      driver: "org.postgresql.Driver"
      ddl: "update"
      url: "postgresql://neves-db.cz6wi8gag9zx.ap-northeast-2.rds.amazonaws.com"
      name: nevesdb
    disconnectedCron: "0 0 * * * *"
  destinationRule:
    enabled: true
    outlierDetection:
      consecutive5xxErrors: 3
      interval: "10s"
      baseEjectionTime: "40s"
      maxEjectionPercent: 100
userServer:
  name: "user"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/user_server"
    tag: "971b45759155f01f4ff09ad4a50b1ec8b9576d1a"
  port:
    container: 8000
  config:
    db:
      host: "neves-db.cz6wi8gag9zx.ap-northeast-2.rds.amazonaws.com"
      name: "nevesdb"
      port: "5432"
    corsAllowedOrigins: "https://neves-box.com,http://127.0.0.1:3000,http://localhost:3000"
mailServer:
  name: "mail"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/mail_server"
    tag: "971b45759155f01f4ff09ad4a50b1ec8b9576d1a"
  port:
    container: 8000
playServer:
  name: "play"
  replicas: "1"
  image:
    repo: "public.ecr.aws/k8s0f8l3/neves/play_server"
    tag: "923bed41ac543e7dc611ba784b3b029da775af34"
  port:
    container: 8000
  config:
    cloudFront:
      domain: "https://d1mm9z6q5gm2lk.cloudfront.net"
      expireTime: "1"
    corsAllowedOrigins: '["https://neves-box.com","http://127.0.0.1:3000","http://localhost:3000"]'
combinedVideoProcessor:
  name: "combined-streaming"
  replicas: 1
  port:
    srt-udp:
      protocol: UDP
      service: 8890
      container: 8890
    api-tcp:
      protocol: TCP
      service: 9997
      container: 9997
    http-metrics:
      protocol: TCP
      service: 8000
      container: 8000
  mediamtxContainer:
    name: "mediamtx"
    image:
      repo: "bluenviron/mediamtx"
      tag: "latest-ffmpeg"
    storageMountPath: /recordings
    configMountPath: /mediamtx.yml
    configSubPath: mediamtx.yml
    containerPorts:
    - name: srt-udp
      containerPort: 8890
      protocol: UDP
    - name: api-tcp
      containerPort: 9997
      protocol: TCP
    - name: http-metrics
      containerPort: 8000
      protocol: TCP
  dbUploadContainer:
    name: "db-upload"
    image:
      repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
      tag: 917c7e6e10a9825eb3792b91395b398cc80e87d9
    storageMountPath: /recordings
  volumeClaimTemplate:
    name: "storage"
    accessModes: ["ReadWriteOnce"]
    storage: "50Gi"
  metrics:
    portName: "http-metrics"
    path: "/metrics"
    interval: "10s"
    scrapeTimeout: "10s"
  image:
    tag: bb288b84873c91ec35887556c5f246e3869f5983
    repo: public.ecr.aws/k8s0f8l3/neves/db-upload-server
ebsStorageClass:
  name: "ebs-sc"
  provisioner: "ebs.csi.aws.com"
  volumeBindingMode: "WaitForFirstConsumer"
  parameters:
    type: "gp3"
  allowVolumeExpansion: true
  reclaimPolicy: "Retain"
