apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: neves-chart  # Argo CD에서 보여질 Application 이름
  namespace: argocd         # Argo CD가 설치된 네임스페이스
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default         # Argo CD Project (변경 가능)

  source:
    repoURL: https://github.com/LuckyThreeSeven/HelmGas # ⚠️ 실제 Git Repository URL로 변경하세요
    targetRevision: argocd-test              # 배포할 브랜치 또는 태그 (예: main, HEAD)
    path: charts                      # ⚠️ Helm Chart가 위치한 경로 (Git Repo 루트의 charts 폴더)
    helm:
      # values.yaml의 경로를 지정합니다. 이 경로를 통해 Helm이 렌더링에 사용할 값을 가져옵니다.
      valueFiles:
      - values.yaml
      
  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true