apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: neves-chart
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/LuckyThreeSeven/HelmGas
    targetRevision: main
    path: charts
    helm:
      releaseName: neves-app
      valueFiles:
      - values.yaml
      
  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true