apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: neves-chart
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd-image-updater.argoproj.io/image-list: >
      offline=public.ecr.aws/k8s0f8l3/neves/offline-upload-server,
      dbupload=public.ecr.aws/k8s0f8l3/neves/db-upload-server,
      status=public.ecr.aws/k8s0f8l3/neves/status-service,
      user=public.ecr.aws/k8s0f8l3/neves/user_server,
      mail=public.ecr.aws/k8s0f8l3/neves/mail_server,
      play=public.ecr.aws/k8s0f8l3/neves/play_server,
      combined-streaming=public.ecr.aws/k8s0f8l3/neves/db-upload-server

    argocd-image-updater.argoproj.io/write-back-method: git
    
    argocd-image-updater.argoproj.io/write-back-target: helmvalues:/charts/values.yaml 

    argocd-image-updater.argoproj.io/offline.update-strategy: newest-build
    argocd-image-updater.argoproj.io/offline.helm.image-tag: offlineServer.image.tag
    argocd-image-updater.argoproj.io/offline.helm.image-name: offlineServer.image.repo
    argocd-image-updater.argoproj.io/offline.ignore-tags: latest

    argocd-image-updater.argoproj.io/dbupload.update-strategy: newest-build
    argocd-image-updater.argoproj.io/dbupload.helm.image-tag: dbUploadServer.image.tag
    argocd-image-updater.argoproj.io/dbupload.helm.image-name: dbUploadServer.image.repo
    argocd-image-updater.argoproj.io/dbupload.ignore-tags: latest

    argocd-image-updater.argoproj.io/status.update-strategy: newest-build
    argocd-image-updater.argoproj.io/status.helm.image-tag: statusServer.image.tag
    argocd-image-updater.argoproj.io/status.helm.image-name: statusServer.image.repo
    argocd-image-updater.argoproj.io/status.ignore-tags: latest

    argocd-image-updater.argoproj.io/user.update-strategy: newest-build
    argocd-image-updater.argoproj.io/user.helm.image-tag: userServer.image.tag
    argocd-image-updater.argoproj.io/user.helm.image-name: userServer.image.repo
    argocd-image-updater.argoproj.io/user.ignore-tags: latest

    argocd-image-updater.argoproj.io/mail.update-strategy: newest-build
    argocd-image-updater.argoproj.io/mail.helm.image-tag: mailServer.image.tag
    argocd-image-updater.argoproj.io/mail.helm.image-name: mailServer.image.repo
    argocd-image-updater.argoproj.io/mail.ignore-tags: latest

    argocd-image-updater.argoproj.io/play.update-strategy: newest-build
    argocd-image-updater.argoproj.io/play.helm.image-tag: playServer.image.tag
    argocd-image-updater.argoproj.io/play.helm.image-name: playServer.image.repo
    argocd-image-updater.argoproj.io/play.ignore-tags: latest

    argocd-image-updater.argoproj.io/combined-streaming.update-strategy: newest-build
    argocd-image-updater.argoproj.io/combined-streaming.helm.image-tag: combinedVideoProcessor.image.tag
    argocd-image-updater.argoproj.io/combined-streaming.helm.image-name: combinedVideoProcessor.image.repo
    argocd-image-updater.argoproj.io/combined-streaming.ignore-tags: latest
      
spec:
  project: default
  source:
    repoURL: ssh://git@github.com/LuckyThreeSeven/HelmGas.git
    targetRevision: main
    path: charts
    helm:
      releaseName: neves-app
      valueFiles:
      - values.yaml

  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    syncOptions:
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true